<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ascii">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- FontAwesome图标库 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
    <link href="/fontawesome-free-7.0.0-web/css/fontawesome.css" rel="stylesheet" />
    <link href="/fontawesome-free-7.0.0-web/css/brands.css" rel="stylesheet" />
    <link href="/fontawesome-free-7.0.0-web/css/solid.css" rel="stylesheet" />
    <link href="/fontawesome-free-7.0.0-web/css/sharp-thin.css" rel="stylesheet" />
    <link href="/fontawesome-free-7.0.0-web/css/sharp-duotone-thin.css" rel="stylesheet" />
</head>
<style>


</style>
<body>
      <button class="icon-duotone icon-login">Login</button>
    <select>
  <option><i class="fa fa-heart"></i> 喜欢</option>
  <option><i class="fa fa-star"></i> 收藏</option>
  <option><i class="fa fa-flag"></i> 标记</option>
</select>
<i class="fa fa-heart"></i>
<span class="fa-solid fa-user"></span>
&#xf1d6;
                                <!-- <select class="form-select contact-select" id="contact" name="contact" required onchange="updateSelectColors()"> -->
                                    <option value="QQ" {{ 'selected' if order.contact == 'QQ' }}>&#xf1d7; QQ</option>
                                    <option value="微信" {{ 'selected' if order.contact == '微信' }}>&#xf09b; 微信</option>

                                    <option value="闲鱼" {{ 'selected' if order.contact == '闲鱼' }}>&#xf015; 闲鱼</option>     

                                <!-- </select> -->
</body>
</html>







    




